body {
    background-color: rgb(245, 245, 245);
    font-family: 'Nova Mono', monospace;
    padding-top: 5vh;
}
.clock-container{
    background-color: #100E17;
    border-radius: 30px;
    border-color: #363636;
    border-width: 0.5rem;
    border-style: solid;
    width: 50.5vw;
    margin: auto;
}
#clock-face{
    color: #cc0000;
    font-size: 10.5vw;
    text-align: center;
}
.phil-explainer{
    padding-top: 50px;
    font-weight: bold;
}
.joke-container {
    background: #9fbbcc;
    border-radius: 4px;
    font-size: 1.2rem;
    width: 30vw;
    position: absolute;
    text-align: center;
}

#joke{
    
}
.phil-image-container {
    padding-top: 50px;
    text-align: center;
}
.phil-image {
    width:95vw;
}